.head{
    width: 300px;
    color:#6D6D6D;
    font-size: 38px;
    font-weight: bold;
    font-family: 微軟正黑體;
    padding-top:10px;
}
.menu ul{
    float:right;
    list-style: none;
}
.menu ul li{
    float:left;
    margin: 10px ;
}
.menu{
    margin-top: 10px;
}
.menu ul li a{
    color:#4C4C4C;
    font-size:16px;
    font-family: 微軟正黑體;
    font-weight: bold;
}
 .menudeco{
    width:1px;
    height:18px;
    background:#7A3719;
}
.banner{
    background-image: url(img/pic4.jpg);
    height:500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner h1{
    color:#FFFFFF;
    font-size: 50px;
    font-family:Cooper Black;
    font-weight: bold;
    text-shadow: 2px 2px 7px #111111;
    position: relative;
    top:120px;
    left:120px;
}
body{
    background-color: #FEEFEF;
}